.spinner {
          height: 100vh;
          width: 100vw;
          img { 
            position: absolute;
            width: 20rem;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
}

@keyframes rotate {
          0% {
            transform: rotate(0);
          }
          100% {
            transform: rotate(360deg);
          }
}